h2 {
    text-align: center;
    font-size: 35px;
}

section {
    width: 90%;
    margin: 100px auto;

}

/* #region  Scrollable navbar (horizontal) */
html {
    overflow: scroll;
    overflow-x: hidden;
}

#h_scrollable_nav {
    border:2px solid black;
    border-radius: 20px;
    background-color: grey;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 40px;
}

#h_scrollable_nav .scroll_menu {
    width: 75%;
    margin: auto;
    background-color: #333;
    border: solid 2px black;
    overflow: auto;
    white-space: nowrap;
    resize: horizontal;
}
  
#h_scrollable_nav .scroll_menu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 22px;
}

#h_scrollable_nav .scroll_menu a:hover {
    background-color: #777;
    
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    height: 5px;
    background: transparent;  
}
/* Optional: show position indicator in blue OBV */
::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 10px;
}
/* #endregion */

/* #region  Scrollable navbar (horizontal) w/ JavaScript */
/* #h_scrollable_nav_JS {
    width: 50%;
    background-color: rgba(46, 139, 86, 0.434);
    border: seagreen solid 4px;
    border-radius: 20px;
    margin: 50px auto;
} */
/* #endregion */

/* #region  Sticky aside */
#sticky_aside {
    background-color: rgba(76, 0, 130, 0.338);
    color: black;
    font-weight: bold;
    font-size: 23px;
    border: indigo solid 5px;
    border-radius: 20px;
    padding: 30px;
}
#sticky_aside h2 {
    color: purple;
}
#sticky_aside .wrapper {
    display: flex;
    justify-content: space-between;
}

#sticky_aside .content,
#sticky_aside .sidebar {
    border-radius: 20px;
    padding: 40px;
    background-color: pink;
}

#sticky_aside .content {
    width: 60%;
}

#sticky_aside .sidebar {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 25%;
    height: 300px;
    overflow-y: scroll;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}
          
/* #endregion */


/* #region  Extra */
#extra {
    background-color: Yellow;
    text-align: center;
    color: black;
    font-weight: bold;
    border: black solid 3px;
    border-radius: 20px;
}
#extra .extra_div {
    line-height: 3;
}

/* #endregion */